@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
.tb-custom-css body,
.tb-custom-css h1,
.tb-custom-css h2,
.tb-custom-css h3,
.tb-custom-css h4,
.tb-custom-css h5,
.tb-custom-css h6,
.tb-custom-css p,
.tb-custom-css span,
.tb-custom-css a,
.tb-custom-css li,
.tb-custom-css label,
.tb-custom-css input,
.tb-custom-css button,
.tb-custom-css textarea,
.tb-custom-css select {
  font-family: "Plus Jakarta Sans", Arial, sans-serif !important;
}

.tb-default .tb-custom-css {
  display: flex !important;
  position: relative !important;
}

.tb-default .tb-custom-css::before {
  content: "" !important;
  flex: 0 0 37.5% !important;
  background-color: #003ca6 !important;
  position: relative !important;
}

.tb-default .tb-custom-css::after {
  content: "" !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 6.25% !important;
  width: 25% !important;
  aspect-ratio: 331/500 !important;
  height: auto !important;
  background: url("https://khcc.s3.eu-central-1.amazonaws.com/bnan/Images/logo-trans.png") no-repeat center bottom !important;
  background-size: contain !important;
  z-index: 1 !important;
}

.tb-default .tb-custom-css .tb-login-content {
  flex: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: transparent !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content::before,
.tb-default .tb-custom-css .tb-create-password-content::before,
.tb-default .tb-custom-css .tb-request-password-reset-content::after,
.tb-default .tb-custom-css .tb-create-password-content::after,
.tb-default .tb-custom-css .tb-login-content::before,
.tb-default .tb-custom-css .tb-login-content::after {
  content: "" !important;
  position: fixed !important;
  top: 40% !important;
  inset-inline-start: 40px !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content::before,
.tb-default .tb-custom-css .tb-create-password-content::before,
.tb-default .tb-custom-css .tb-login-content::before {
  width: 8.8125rem !important;
  height: 3.75rem !important;
  background-size: cover !important;
  background-image: url("https://khcc.s3.eu-central-1.amazonaws.com/bnan/Images/logo-white.svg") !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content::after,
.tb-default .tb-custom-css .tb-create-password-content::after,
.tb-default .tb-custom-css .tb-login-content::after {
  content: "IoT Platform" !important;
  top: calc(40% + 5rem) !important;
  width: calc(25% - 80px) !important;
  color: #fff !important;
  font-size: 1.875rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

@media screen and (max-width: 768px) {
  .tb-default .tb-custom-css .tb-request-password-reset-content::after,
  .tb-default .tb-custom-css .tb-create-password-content::after,
  .tb-default .tb-custom-css .tb-login-content::after,
  .tb-default .tb-custom-css .tb-request-password-reset-content::before,
  .tb-default .tb-custom-css .tb-create-password-content::before,
  .tb-default .tb-custom-css .tb-login-content::before,
  .tb-default .tb-custom-css::before,
  .tb-default .tb-custom-css::after {
    display: none !important;
  }
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card {
  max-width: 400px !important;
  max-height: 100% !important;
  overflow-y: auto !important;
  background-color: transparent !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-button:not(:disabled),
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-button:not(:disabled),
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-button:not(:disabled) {
  color: #333333 !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-button:not(:disabled):hover,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-button:not(:disabled):hover,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-button:not(:disabled):hover {
  color: #004bcc !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content {
  background: #ffffff !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form {
  max-width: 360px !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form > .flex.flex-col > .flex.flex-col .flex.flex-col.items-center.justify-start,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form > .flex.flex-col > .flex.flex-col .flex.flex-col.items-center.justify-start,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form > .flex.flex-col > .flex.flex-col .flex.flex-col.items-center.justify-start {
  display: none !important;
}

.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .layout-padding > span::before {
  content: "Sign In" !important;
  color: #004bcc !important;
  font-size: 1.875rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-form-field-bottom-align,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-form-field-bottom-align,
.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mdc-line-ripple,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mdc-line-ripple,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-form-field-bottom-align,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mdc-line-ripple {
  display: none !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 40px !important;
  padding-inline-start: 16px !important;
  color: #948f8f !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label.mdc-floating-label--float-above,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label.mdc-floating-label--float-above,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label.mdc-floating-label--float-above {
  top: 30px !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-prefix,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-prefix,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-prefix {
  display: none !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix input[matinput],
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix input[matinput],
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix input[matinput] {
  border-radius: 8px !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  padding: 0.5rem 1rem !important;
  color: #948f8f !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .tb-dark.dark-foreground .mat-mdc-raised-button.mat-accent,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .tb-dark.dark-foreground .mat-mdc-raised-button.mat-accent,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .tb-dark.dark-foreground .mat-mdc-raised-button.mat-accent {
  background-color: #004bcc !important;
  height: 2.5rem !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix {
  position: absolute !important;
  inset-block-start: 30px !important;
  inset-inline-end: 3px !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix .mat-mdc-icon-button .mat-icon,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix .mat-mdc-icon-button .mat-icon,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix .mat-mdc-icon-button .mat-icon {
  color: #948f8f !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix .mat-mdc-icon-button:hover .mat-icon,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix .mat-mdc-icon-button:hover .mat-icon,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix .mat-mdc-icon-button:hover .mat-icon {
  color: #004bcc !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .tb-action-button,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .tb-action-button,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field .tb-action-button {
  display: flex !important;
  flex-direction: column !important;
  gap: 1rem !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field.mat-form-field-invalid .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label,
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field.mat-form-field-invalid .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label,
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field.mat-form-field-invalid .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  color: red !important;
}

.tb-default .tb-custom-css .tb-request-password-reset-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field.mat-form-field-invalid .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix input[matinput],
.tb-default .tb-custom-css .tb-create-password-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field.mat-form-field-invalid .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix input[matinput],
.tb-default .tb-custom-css .tb-login-content .mat-mdc-card.mdc-card .mat-mdc-card-content form .mat-mdc-form-field.mat-form-field-invalid .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix input[matinput] {
  border-color: red !important;
}

.tb-default .tb-custom-css button.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-accent.mat-mdc-button-base {
  background: #004bcc !important;
  box-shadow: none !important;
}

.tb-default .tb-custom-css button.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-accent.mat-mdc-button-base:hover {
  background: #011e4e !important;
  box-shadow: none !important;
}
.tb-default .tb-custom-css mat-card-header.mat-mdc-card-header {
  background: #fff !important;
}

.tb-default .tb-custom-css span[style="height: 4px;"] {
  display: none !important;
}

.tb-default .tb-custom-css span[style="height: 50px;"]:empty {
  display: none !important;
}
